h1 {color: aqua;background-color: burlywood;text-decoration-line: overline;text-align: center}
h3 {color: cornflowerblue ;border: 4ch;text-decoration-color: chartreuse;text-align: initial}
h2 {color: crimson;background-color: burlywood;text-decoration: dotted;text-align: center}